<connectionStrings>
  <add name="SerilogRavenDB" connectionString="****YOUR RAVENDB CONNECTIONSTRING HERE***" />
  <add name="AMQP" connectionString="****YOUR AMQP ENDPOINT URI****" />
</connectionStrings>