@model dynamic

@{
    ViewBag.Title = "SignalR test page";
}

<h2>SignalR test page</h2>
<script type="text/javascript">

    $(function() {
        var deviceHub = $.connection.deviceHub;

        deviceHub.client.configure = function (somestring) { console.log(somestring); }

        $.connection.hub.start().done(function() {
            console.log("init done");
        });

    });
</script>